<!DOCTYPE html>
<html>
<head>
    <title>Student Results</title>
</head>
<body>
    <h1>Student Results</h1>
    <h2>{{ student[1] }} {{ student[2] }}</h2>
    <table>
        <tr>
            <th>Quiz Id</th>
            <th>Results</th>
        </tr>
        {% for item in student_results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
